{% extends 'core/base.html' %}

{% block title %} Welcome|Puddle {% endblock %}

{% block content %}

    <div class="card-group m-4">
        {% for item in items %}
            
                <div class="card border-secondary mb-1" style="width: 18rem;">
                    <img src="{{item.image.url}}" class="card-img-top" alt="...">
                    <div class="card-header">{{item.name}}</div>
                    <div class="card-body">
                        
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text">$ {{item.price}}</p>
                    </div>
                    <a href="{% url 'detail' item.id %}" class="card-link">Show Details</a>
                    <div class="card-footer">
                        <small class="text-body-secondary">created {{item.created_at|timesince}} ago in </small>
                        <small class="text-body-secondary">{{item.category}}</small>
                    </div>
                </div>
            

        {% endfor %}
    </div>

    <div class="card text-center">
        <div class="card-header">
          <h3>Categories</h3>
        </div>
        <div class="card-group">
            {% for category in categories %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name}}</h5>
                        <p class="card-text">{{category.items.count}}</p>
                    
                    </div>
                </div>
                
            {% endfor %}
        </div>
        
    </div>
   

    

    

{% endblock %}