{% extends 'core/base.html' %}

{% block title %} Items {% endblock %}

{% block content %}

    <style>
        .search-container{
            display:grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>

    <div class="search-container">
        
        <div class="browse-items">
            <div class="row mt-2">
                <h4>Categories</h4>
                <form method="GET" action="">
                    <input class="form-control form-control-lg" type="text" name='q' placeholder="Search Item" >


                </form>
                {% if categories %}
                    <ul class="list-group mt-2">
                        {% for category in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'searchItem' %}?q={{category.name}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{category.name}}</a>
                            <span class="badge bg-primary rounded-pill">{{category.items.count}}</span>
                            </li>
                        {% endfor %}
                        
                    </ul>
                {% endif %}

            </div>
            
        </div>
        
        <div class="items">

            <div class="card-group m-4">
                {% for item in items %}
                    
                        <div class="card border-secondary mb-1" style="width: 18rem;">
                            <img src="{{item.image.url}}" class="card-img-top" alt="...">
                            <div class="card-header">{{item.name}}</div>
                            <div class="card-body">
                                
                                <p class="card-text">{{item.description}}</p>
                                <p class="card-text">$ {{item.price}}</p>
                            </div>
                            <a href="{% url 'detail' item.id %}" class="card-link">Show Details</a>
                            <div class="card-footer">
                                <small class="text-body-secondary">created {{item.created_at|timesince}} ago in </small>
                                <small class="text-body-secondary">{{item.category}}</small>
                            </div>
                        </div>
                    
    
                {% endfor %}
            </div>
            

        </div>

        
    </div>

{% endblock %}